APP_NAME="Security Test Center"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

APP_LOCALE=id
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=id_ID

LOG_CHANNEL=stack
LOG_STACK=single
LOG_LEVEL=debug

DB_CONNECTION=sqlite

SESSION_DRIVER=file
SESSION_LIFETIME=120
SESSION_ENCRYPT=false

CACHE_STORE=file
QUEUE_CONNECTION=database

SECURITY_TEST_ALLOW_PRIVATE_TARGETS=false
SECURITY_TEST_ALLOWED_PORTS=80,443,8080,8443
SECURITY_TEST_HTTP_TIMEOUT=8
SECURITY_TEST_MAX_REDIRECTS=4

SECURITY_TEST_LOAD_MAX_VUS=20
SECURITY_TEST_LOAD_MAX_RPS=20
SECURITY_TEST_LOAD_MAX_DURATION=30
SECURITY_TEST_LOAD_MAX_REQUESTS=600
